@page
@model NenWebApp.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @* ACTIVE WORKOUT STUFF (IF USER HAS ONE) - - OTHERWISE, SELECT WORKOUT STUFF *@
</div>
</body>
</html>