@{
    ViewData["Title"] = "Collection";
}

<div class="row collection-container">
    <div class="col">
        <a href="/Collection/Exercises">
            <button type="button" class="btn btn-outline-light collection-category-button">Exercises</button>
        </a>
    </div>
    <div class="col">
        <a href="/Collection/Workouts">
            <button type="button" class="btn btn-outline-light collection-category-button">Workouts</button>
        </a>
    </div>
    <div class="col">
        <a href="/Collection/Programs">
            <button type="button" class="btn btn-outline-light collection-category-button">Programs</button>
        </a>
    </div>
</div>