<nav class="navbar box-shadow mb-3" style="display: flex; justify-content:center; padding: 1px;">
    <a href="/Exercise/Index" class="btn collection-mini-nav-a"><span class="collection-mini-nav-text">Exercises</span></a>
    <a href="/Workout/Index" class="btn collection-mini-nav-a"><span class="collection-mini-nav-text">Workouts</span></a>
    <a href="/Program/Index" class="btn collection-mini-nav-a"><span class="collection-mini-nav-text">Programs</span></a>
</nav>