html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background-image: url('../images/background.webp');*/
    background-image: url('../images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.exercise-icon {
    font-size: 20px;
    width: fit-content;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    background: #ffffff
}

.nav-icon {
    font-size: 35px;
    padding-right: 12px;
    padding-left: 12px;
}

.nav-a {
    padding: 0px;
}

.collection-category-button {
    height: 100%;
    width: 100%;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.collection-container {
    height: 80vh
}

.collection-mini-nav-icon {
    font-size: 30px;
    padding: 0px 6px 0px 6px;
}

.collection-mini-nav-text {
    font-size: 20px;
    padding: 0px 6px 0px 6px;
    color: #fcf2eb;
}

/*Fading separator lines*/
.title-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    color: #fcf2eb;
}

.title {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

    .title::before,
    .title::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 3px;
        width: 30vw;
        background-image: linear-gradient(to right, transparent, #fcf2eb);
    }

    .title::before {
        left: -30vw;
        transform: translateY(-50%);
    }

    .title::after {
        right: -30vw;
        transform: translateY(-50%);
        background-image: linear-gradient(to left, transparent, #fcf2eb);
    }
