@using Microsoft.AspNetCore.Identity
@using NenWebApp.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item">
            <a id="manage" style="padding: 0 8px 0 8px;" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span style="font-size: 35px;" class="mdi mdi-account"></span></a>
        </li>
        <li class="nav-item" >
            <form id="logoutForm" style="padding: 0;" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" style="padding: 0 24px 0 8px;" type="submit" class="nav-link btn btn-link text-dark border-0"><span style="font-size: 35px;" class="mdi mdi-logout"></span></button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
